.cart-dropdown {
    position: fixed;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 6rem;
    right: 40px;
    z-index:100;

    @media screen and (max-width:800px){
      width: 180px;
    height: 180px;
    }
    .emptyMessage{
      margin: 30px auto;
      font-size: 18px;
      @media screen and (max-width:800px){
      margin: 30px;
      font-size: 10px;
      }
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      @media screen and (max-width:800px){
        
      height: 175px;
      }
    }
  
    button {
      margin-top: auto;
    }
  }
  