.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
    overflow: hidden;
    .image {
      transition: all 1s;
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
    .btn.btn-collection{
      width: 80%;
      position: absolute;
      top:255px;
    }
   
    .image:hover{
     transform: rotate(20deg) scale(1.6) ;
     
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      margin-bottom: 10px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }
