.SignInUp{
    padding: 2rem 10rem;
    @media screen and (max-width : 800px){
        padding: .5rem 2.5rem;
        font-size: 1rem;
    }
    @media screen and (min-width : 999px){
        background-color: lightgrey;
        clip-path: polygon(22% 6%, 97% 0, 100% 35%, 100% 70%, 96% 100%, 50% 100%, 50% 67%, 3% 84%, 0% 35%, 0 0);
    }

  
}