.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      display: inline-block;
      font-size: 28px;
      margin-bottom: 25px;
      width: 100px;
      &:hover{
        cursor: pointer;
      }
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  