.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  
    .title {
      display: inline-block;
      font-size: 4rem;
      margin-bottom: 2.5rem;
      width: 10rem;
      transition: all .2s;
      backface-visibility: hidden;
      text-shadow: .5rem 1rem 2rem rgba(black , 0.4);
      &:hover{
        cursor: pointer;
        transform: skewY((2deg)) skewX(15deg) scale(1.1);
        text-shadow: .5rem 2rem 2rem rgba(black , 0.8);
      }
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  