.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    overflow: hidden;
    position: relative;
  .bigTitle {
    font-size: 100px;
    color: black;
    position: relative;
    z-index: 5;
    font-family: 'Niconne', cursive;
  }
  .bg-video{
    position: absolute;
    left : 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1;
    .video{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  
  }

@keyframes animateHome {
  0%{
     transform: translateX(-10%);
  }
  50%{
    transform: translateY(-20%);
  }
  100%{
    transform: translate(
      0
    );
  }

}