.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    overflow: hidden;
  .bigTitle {
    font-size: 100px;
    color: black;
    position: relative;
    z-index: 5;
    font-family: 'Niconne', cursive;
  }
  
  }
 
  .shopImage{
    position: absolute;
   height: 150vh;
   width: 100vw;
    background-size: cover;

  
  }
@keyframes animateHome {
  0%{
     transform: translateX(-10%);
  }
  50%{
    transform: translateY(-20%);
  }
  100%{
    transform: translate(
      0
    );
  }

}