.menu-item {
  min-width: 50px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3%;
  margin-top:  7.5px ;
  overflow: hidden;
  opacity: .85;
  animation: transitionAnimation 2s ease-out 1s;
  animation-fill-mode: backwards;
  @media screen and (max-width : 800px){
    height:200px;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    @media screen and (max-width : 450px){
      width: 60%;
    }

    .title {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 22px;
      color: black;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
.content::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: -1;
  transition: all .4s;
}
.content:hover::after{
  transform: scale(2);
  opacity: 0;
}
@keyframes transitionAnimation{

  0%{
      opacity: 0;
      transform: translateX(-500px);
  }
  80%{
      transform: translateX(20Px);
  }
  100%{
    transform: translateX(0Px);
    opacity: 1;
  }
}
