.logo{
animation: moveRight 1s ease-in ;
animation-fill-mode: backwards;
}
@keyframes moveRight{
    0%{
     opacity: 0;
     transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}