.collection-item {
    position: relative;
    height: 20rem;
    perspective: 120rem;
    -moz-perspective: 120rem;
    margin: auto;
   .side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 2rem 4rem rgba( black,  .5);
    border-radius: 4px;
    backface-visibility: hidden;
    transition: all .8s ease;
  &.front{ 
      width: 100%;
      height: 100%;
      background-size: cover; 
      transition: all .7s ease;
  }
   &.back{
    transform: rotateY(-180deg);
    background-color: rgba( black,  .5);
    width: 100%;
    height: 100%;
    position: relative;

    .collection-footer {
      position: absolute;
      top :50%;
      left : 50%;
      transform : translate(-50%,-50%);
      .name{
        display: block;
        font-size: 1.8rem;
        width: 100%;
        font-weight: 900;
      }
      .price{
        display: block;
        font-size: 3rem;
      }
   
     

    }
    .btn-collection{
      position: absolute;
      bottom: 0;
      display: block;
      width: 80%;
      left: 50%;
      transform: translate(-50%,-5px);

    }

  


   }

  } 
  &:hover .front {
    transform: rotateY(180deg);
    
  }
  &:hover .back {
    transform: rotateY(0);
   
  }


  }
